# Created by .ignore support plugin (hsz.mobi)
.*
/src/*/.gitignore
/tests/.gitignore
/tests--old/
README.md
/var/
/vendor/
*.base
###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
bin/.phpunit
sql
pw_hash.php
.*
bin
