# Created by .ignore support plugin (hsz.mobi)
.*
/src/*/.gitignore
/tests/.gitignore
/tests--old/
README.md
*.base
bin/.phpunit
sql
pw_hash.php
bin
*.bak

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
###< symfony/phpunit-bridge ###
