<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
        colors="true"
        convertErrorsToExceptions="false"
        convertNoticesToExceptions="false"
        convertWarningsToExceptions="false"
        verbose="true"
        bootstrap="tests/bootstrap.php">
  <coverage>
    <include>
      <directory>src</directory>
    </include>
    <report>
      <html outputDirectory="var/coverage/"/>
    </report>
  </coverage>
  <php>
    <ini name="error_reporting" value="-1"/>
    <env name="KERNEL_CLASS" value="App\Kernel"/>
    <env name="APP_ENV" value="test"/>
    <env name="APP_DEBUG" value="1"/>
    <env name="SHELL_VERBOSITY" value="-1"/>
  </php>
  <testsuites>
    <testsuite name="Functional Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <!--    <extensions>-->
  <!--        <extension class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension" />-->
  <!--    </extensions>-->
  <!--    <listeners>-->
  <!--        <listener class="\DAMA\DoctrineTestBundle\PHPUnit\PHPUnitListener" />-->
  <!--    </listeners>-->
</phpunit>
