{% extends "layout.html.twig" %}

{% block content %}
    <div class="maincontent">
        <p class="center"><span style="color: #FF0000">{{ view.message | raw }}</span></p>
        {{ view.header | raw }}

        <div class="legend">
            <h3>Notes on these reports</h3>
            <ol>
                {% for key, value in view.notes|cast_to_array %}
                    <li>{{ value.1 | raw }}</li>
                {% endfor %}
            </ol>
            <hr>
            {{ view.content | raw }}
        </div>

    </div>
{% endblock %}
