parameters:
    # Application Core
    locale: 'en'
    app.version: '2025.12.09.00'

    # Communication Settings
    sra:
        name: 'Rick Roberts'
        email: 'ayso1sra@gmail.com'
        subject: 'subject=Suggestion for a CRS report'

    issueTracker: 'https://github.com/rrone/crs/issues'

    settings.test: false

services:
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
        public: true
        bind:
            $appVersion: '%app.version%'
            $projectDir: '%kernel.project_dir%'

    # make classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/*'
        exclude: '../src/{DependencyInjection,Entity,Migrations,Tests,Kernel.php}'

    # controllers are imported separately to make sure services can be injected
    # as action arguments even if you don't extend any base controller class
    App\Controller\:
        resource: '../src/Controller'
        tags: ['controller.service_arguments']

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones
