{% extends "layout.html.twig" %}

{% block content %}
    <table width="98%">
        <tr>
            <td>
                <p class="center"><span style="color: #FF0000">{{ message | raw }}</span></p>
            </td>
        </tr>
        <tr>
            <td>
                {{ content | raw }}
            </td>
        </tr>
    </table>
{% endblock %}
