{% extends "layout.html.twig" %}

{% block content %}
    <!-- Modal -->
    <div class="col-xs-10 col-xs-offset-1" xmlns="http://www.w3.org/1999/html">
        <div class="panel panel-default">
            <div class="panel-heading center"><h1>Message Center</h1></div>

            <p style="margin: 40px 20px;"> {{ view.message | raw }}</p>
        </div>

        <!-- Action -->
        <div class="form-group">
            <form class="form-horizontal user-update" method="post" action="{{ view.action | raw }}">
                <fieldset>
                    <div class="col-xs-11 col-xs-offset-5">
                        <button id="btnOk" name="btnOk" class="btn btn-sm btn-primary">Ok</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}
