{% extends "layout.html.twig" %}

{% block head %}{% endblock %}

{% block style %} {% endblock %}

{% block content %}
    <div class="legend">
        <h3>Notes on these reports:</h3>
        <ol>
            {% for key, value in notes %}
                <li>{{ value.text | raw }}</li>
            {% endfor %}
        </ol>
        <hr>
        {{ content | raw }}
    </div>

    <div id="preparing-file-modal" title="Preparing report..." style="display: none;">
        We are preparing your report, please wait...
    </div>

    <div id="error-modal" title="Error" style="display: none;">
        There was a problem generating your report, please try again.
    </div>

{% endblock %}

{% block script %}
{% endblock %}
